# Frontend / Next.js
NEXT_PUBLIC_SUPABASE_URL=https://walgjemfqjxhrixqtaey.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bXSjd0SPih0685J6YaG1hA_SEoSi_kq

# Backend / FastAPI only
SUPABASE_URL=https://walgjemfqjxhrixqtaey.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
