@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

html, body { height: 100%; }
body {
  @apply bg-ink-50 text-ink-900 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
